.btn {
  display: inline-block;
  font-weight: 600;
  letter-spacing: .2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &.bg {
    &.accent {
      background: $accent;
      color: $white;
    }
  }
  &.round {
    border-radius: 1.25em;
    padding: .5em 2em .3em;
  }
}