.icon {
  display: block; 

  &.design-thinking {
    background: url('../images/icon_d_thinking.png') no-repeat; 
    background-position: center center;
    background-size: contain; 
    height: 80px;
    width: 72px;  
  }
  &.wicked-problems {
    background: url('../images/icon_wicked_problems.png') no-repeat; 
    background-position: center center;
    background-size: contain; 
    height: 80px;
    width: 72px;  
  }
  &.global-network {
    background: url('../images/icon_global_network.png') no-repeat; 
    background-position: center center;
    background-size: contain; 
    height: 80px;
    width: 72px;  
  }
  &.summit {
    background: url('../images/icon_summit.png') no-repeat; 
    background-position: center center;
    background-size: contain; 
    height: 70px;
    width: 62px; 
  }
  &.calendar {
    background: url('../images/icon_calendar.png') no-repeat; 
    background-position: center center;
    background-size: contain; 
    height: 70px;
    width: 62px; 
  }
  &.location {
    background: url('../images/icon_location.png') no-repeat; 
    background-position: center center;
    background-size: contain; 
    height: 70px;
    width: 62px; 
  }
  &.people {
    background: url('../images/icon_people_group.png') no-repeat; 
    background-position: center center;
    background-size: contain; 
    height: 70px;
    width: 80px; 
  }
  &.email {
    background: url('../images/icon_email.png') no-repeat; 
    background-position: center center;
    background-size: contain; 
    height: 60px;
    width: 60px; 
  }
  &.twitter {
    background: url('../images/icon_twitter.png') no-repeat; 
    background-position: center center;
    background-size: contain; 
    height: 60px;
    width: 60px; 
  }
  &.facebook {
    background: url('../images/icon_facebook.png') no-repeat; 
    background-position: center center;
    background-size: contain; 
    height: 60px;
    width: 60px; 
  }
}