// primary site colors
$purple: #8F4B73;
$green: #D7E866;
$cream: #F7FBE0; 
$blue: #8CE0E2; 
$teal: #2BCA92; 

// monochromatic
$white: #fff;
$black: #000;

$grey: #969696; 
$grey-dark: darken($grey, 5%);
$grey-light: lighten($grey, 25%);
$grey-super-dark: darken($grey, 20%);
$grey-super-light: lighten($grey, 33%);