// typography
$header-font: 'Karla', Helvetica, Arial, sans-serif; 
$body-font: 'Halant', Georgia, Times, serif; 
$emphasis-font: 'Sorts Mill Goudy', serif; 

body {
  font-family: $body-font; 
}

h1, h2, h3, h4, h5 {
  font-family: $header-font; 
  font-weight: normal; 
  margin: 0; 
}