// typography
$body-font: 'Gotham', Georgia, Times, serif; 
$emphasis-font: 'Sorts Mill Goudy', serif; 

body {
  font-family: $body-font; 
}

h1, h2, h3, h4, h5 {
  // font-family: $header-font; 
  font-weight: normal; 
  margin: 0; 
}