#homepage {
  #home {
    background: url('../images/hero_landing_page.jpg') no-repeat; 
    background-size: cover; 
    background-position: top center;

    header {
      padding: 2em 3em;
      position: absolute; 
      top: 0; 
      width: 100%;
      overflow: hidden;

      #logo, nav {
      }
      #logo {
        float: left;
      }
      nav {
        overflow: hidden;
        text-align: right; 

        ul {
          list-style: none; 

          li {
            display: inline-block;
            padding: 0 1.5em;

            a {
              color: $white;
              text-decoration: none; 
            }
          }
        }
      }
    }

    .container {
      color: $white; 
      padding-top: 2em;
      width: 40em;

      .btn {
        margin: 4em auto 0;
        width: 10em; 
      }
      h2 {
        border-bottom: 2px solid $white; 
        font-size: 2.25em; 
        line-height: 1.5em;
        padding: .7em 0; 
        text-align: center;
      }
      h5 {
        font-size: .9em; 
        letter-spacing: .5em;
        text-transform: uppercase;
      }
    }
  }

  #unique {
    color: $white;
    line-height: 1.75em;

    section {

      .container {
        margin-top: 6em; 
        margin-bottom: 4em;
        max-width: 80%;
        width: 525px; 
      }
      h3 {
        margin: 1em 0;
      }
      .icon {
        display: block;
        margin: 2.5em auto 2em;
      }
    }
  }

  #value-prop {
    background: url('../images/bg_value_prop.png');
    color: $primary;

    .container {
      margin-top: 3em; 
      margin-bottom: 3em;
      max-width: 90%;
      
      .icon {
        margin: 0 auto 1.5em;
      }
      h5 {
        text-align: center;
      }
      .value {
        line-height: 1.5em;
        padding: 0 1.5em;
      }
    }
  }

  #details {
    color: $primary; 
    padding: 2.5em 0;

    section > .container {
      margin-top: 3em; 
      margin-bottom: 2em;
      max-width: 90%;

      h4, h5 {
        margin-top: 1em;
        text-align: center;
      }
      p {
        text-align: center;
      }
      &.content {
        margin-top: 5em;
      }
      .deadline-details {
        margin-top: 5em;
      }
      .deadline p {
        font-size: 1.5em;
      }
      .deadline-detail p {
        font-size: 1.5em;
      }
      .deadline:first-child {
        border-right: 3.5px solid $primary;
      }
      .deadline:last-child {
        border-left: 3.5px solid $primary;
      }
    }
  }

  .slideshow {
    background: black;
    color: $white; 

    ul.bjqs-controls {
      .bjqs-prev a {
        background: url('../images/icon_arrow.png') no-repeat; 
        background-size: contain; 
        background-position: center right;
        top: 40%;
        height: 6em;
        width: 4em;
        left: 2em !important;
        text-indent: -100000px;

        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      .bjqs-next a {
        background: url('../images/icon_arrow.png') no-repeat; 
        background-size: contain; 
        background-position: center right;
        top: 40%;
        height: 6em;
        width: 4em;
        right: 2em !important;
        text-indent: -100000px;
      }
    }

    li {   
      background-position: center center; 
      
      & > div {
        display: table; 
        height: 100vh;
        width: 100%;

        & > div {
          display: table-cell; 
          vertical-align: middle;
        }
      }
    }

  }

  #speakers {
    li {
      &#ng {
        background: url('../images/speaker_andrew_ng.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
      }
      &#musk {
        background: url('../images/speaker_elon_musk.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
      }
      &#thiel {
        background: url('../images/speaker_peter_thiel.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
      }

     .content {
        font: 2.5em $emphasis-font;
        line-height: 1.5em;
        margin: 0 auto;
        width: 500px;
        max-width: 80%; 
        padding-top: 100px;
        position: relative;

        &:before {
          background: url('../images/icon_quote.png') no-repeat; 
          background-size: contain;
          content: '';
          width: 75px; 
          height: 75px; 
          position: absolute; 
          top: 0;
          left: 225px;
        }
        .author, .title {
          display: block; 
          font: .4em $body-font;
          text-align: right;
        }
        .author {
          font-weight: 700;
          margin: 3em 0 .5em;
          &:before {
            content: '- ';
          }
        }
      }
    }
  }

  #activities {
    li {
      &#learn {
        background: url('../images/hero_learn_stuff.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
      }
      &#make {
        background: url('../images/hero_make_stuff.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
      }
      &#eat {
        background: url('../images/hero_eat_stuff.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        h2 {
          position: relative; 
          &:after {
            background: url('../images/drink_text_cross_out_icon.png') no-repeat; 
            background-size: contain; 
            background-position: center center;
            content: ''; 
            position: absolute; 
            top: -1.25em; 
            left: -2.25em; 
            width: 100%; 
            height: 2em;
          }
        }
      }
      &#pitch {
        background: url('../images/hero_pitch_stuff.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
      }
      &#hear {
        background: url('../images/hero_hear_stuff.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
      }
      &#selfie {
        background: url('../images/hero_selfie.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
      }

     .content {
        font-size: 2em;
        margin: 0 auto;
        max-width: 80%; 
        position: relative;
        text-align: center;
        width: 600px;

        .author, .title {
          display: block; 
          font: .4em $body-font;
          text-align: right;
        }
        .author {
          font-weight: 700;
          margin: 3em 0 .5em;
          &:before {
            content: '- ';
          }
        }
      }
    }
  }

  #testimonials {
    color: $primary; 

    .grid {
      margin-top: 2em;
    }
    img {
      width: 100%;
    }
    p {
      margin-top: 0;
    }
    .container {
      margin-top: 3em; 
      margin-bottom: 3em;
      max-width: 90%;

      &.header {
        font: 200 1.25em $body-font; 
        max-width: 80%;
        text-align: center;
        width: 600px;

        h3 {
          font-size: 2em;
          margin-bottom: .75em;
        }
      }
    }
  }

  #closing {
    background: url('../images/hero_closing.jpg') no-repeat; 
    background-size: cover; 
    color: $white;

    .container {
      font-size: 1.5em;
      max-width: 80%; 
      text-align: center;
      
      .btn {
        font-size: .7em;
        margin: 4em auto 0;
        width: 10em; 
      }
      h1 {
        font-size: 3.5em;
      }
    }
  }
}